body{
     font-family: 'Nova Square', cursive;
     font-size: 16px;
}
#encabezado,#encabezado2{
    font-size: 50px;
    text-align:center;
    margin-bottom:30px;
    text-shadow: 2px 2px 2px #42036F;
    
}
header
{
    background-color: black;
}

.texto{
    font-weight: 900;
    font-style: normal;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 2px 2px white;
    font-size:60px;
    color:#680BAB;

}
#doc{
    text-decoration:none;
    color:#680BAB;
}
.colorfooter{
    background-color:black;
}
.ancho
{
    width: 100%;
}

.titulo{
    font-size:90px;
}
.titulodos{
    font-size:30px;
    font-weight: 600;
    font-style: italic;
    color:#680BAB;
}
#menu>li>a {
    color: black;
    font-size: 22px;
    font-weight: 800;
    /*background-color:#680BAB;*/
    background-color:white;
    text-align:center;
}

#menu>li>a:hover {
    color:black;
}
footer p{
    color:white;
}
footer h3{
    color:#680BAB;
}
#opcional,#opcional2{
    background-color:#FFFB73;
    -moz-border-radius:15px 55px 5px;
    -webkit-border-radius: 15px 55px 5px;
    border: 10px solid #680BAB;
    color:black;
    margin-bottom:15px;
    
}
#op1,#op2,#op3,#op4,#op5,#op6,#op7,#op8{
    background-color:#FFFB73;
    -moz-border-radius:15px 55px 5px;
    -webkit-border-radius: 15px 55px 5px;
    border: 10px solid black;
    color:black;
    margin-bottom:15px;
    
}
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
    margin-bottom:30px;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    
}
#image,#image2{
   
    -webkit-border-radius: 55px 55px 55px 55px;
	width:555px;
	height:416px;
}
#email,#mensaje,#nombre,#telefono{
background-color:#FFFB73;
}
label{
font-weight:bold;
    font-size:18px;
}
a.boton_rs_twitter,a.boton_rs_facebook,a.boton_rs_rss{
	width: 62px;
	height: 58px;
	background-image: url('../img/redessociales.png');
	float: left;
}
a.boton_rs_twitter{background-position: -310px 0px}
a.boton_rs_facebook{background-position: -372px 0px}
a.boton_rs_rss{background-position: -434px 0px}
a.boton_rs_twitter:hover{background-position: -310px -58px}
a.boton_rs_facebook:hover{background-position: -372px -58px}
a.boton_rs_rss:hover{background-position: -434px -58px}